					html,body{
						background-color:#F8FFCC;
						padding:0;
						margin:0;
					 }
					 
					 
					 
					 #footer {
					height:170px;
					width:100%;
					background-color:#CFF24B;
					padding: 0px;
					 box-shadow: 3px 3px 50px  25px rgba(0, 0, 0, .1) inset, 
					  0 6px 4px -4px rgba(0, 0, 0, .2);
					  
					 

					}
					
					
					
					#container {
					position:relative;
					width:450px;
					height:30px;
					left:30px;
					top:-25px;
					background-color:#6E8C00;
					font-size:25px;
					
					}
					ul {
					  list-style: none;
					  margin: center;
	
					}
					
					
					
					#container ul li a {
					  text-decoration: none;
					  padding-left: 10px;
					  padding-right: 10px;
					  color:#CFF24B;
					}


					#container ul li {

								float: left;

								}



					#container ul {
						left:200px;
					}
					#container ::before{
						content:" ";
						position:absolute;
						left:-29.5px;
						border:15px solid transparent;
						border-top-color:#6E8C00;
						border-right-color:#6E8C00;
					}
					#container ::after{
						content:" ";
						position:absolute;
						left:450px;
						border:15px solid transparent;
						border-top-color:#6E8C00;
						border-left-color:#6E8C00;
					}
					
					
					
					.footeru{
						 position: relative;
						 left:70px;;
						 width:170px;
						 height:25px;
						 background-color:#F8FFCC;
						 margin-top:25px;
						 border:none;
						 border-color:#6E8C00;
						  

						 
					}
					.footerp{
						 position: relative;
						 left:70px;
						 width:170px;
						 height:25px;
						 background-color:#F8FFCC;
						 margin-top:10px;
						 border:none;
						 border-color:#6E8C00;
						  

					}
					.footer:hover {
						 border-color:red;
						
					}
					
					#log {
						width:300px;
						height:100%;
						
						position:relative;
						left:1070px;
					
						
					}
				
					#log a {
						color:#6E8C00;
						position:relative;
						left:180px;
						
					}